[submodule "nuklear/nuklear.lnk"]
	path = nuklear/nuklear.lnk
	url = https://github.com/vurtun/nuklear
[submodule "nuklear/Nuklear"]
	path = nuklear/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "clipboard/libclipboard"]
	path = clipboard/libclipboard
	url = https://github.com/jtanx/libclipboard.git
[submodule "websocket/mongoose"]
	path = websocket/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "raylib/raylib"]
	path = raylib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "raylib/raygui"]
	path = raylib/raygui
	url = https://github.com/raysan5/raygui.git
