[submodule "nuklear/nuklear.lnk"]
	path = nuklear/nuklear.lnk
	url = https://github.com/vurtun/nuklear
[submodule "nuklear/Nuklear"]
	path = nuklear/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "clipboard/libclipboard"]
	path = clipboard/libclipboard
	url = https://github.com/jtanx/libclipboard.git
[submodule "websocket/mongoose"]
	path = websocket/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "raylib/raylib"]
	path = raylib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "raylib/raygui"]
	path = raylib/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "imgui/imgui"]
	path = imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "gifenc/gifenc"]
	path = gifenc/gifenc
	url = https://github.com/lecram/gifenc
[submodule "raylib/physac"]
	path = raylib/physac
	url = https://github.com/raysan5/physac
[submodule "gtk-server/uthash"]
	path = gtk-server/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "llama/llama.cpp"]
	path = llama/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
