<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.usb.accessory" android:required="true" />
  <uses-permission android:name="android.permission.USB_PERMISSION" />
  <application>
    <receiver android:name="ioio.smallbasic.android.AccessoryPermissionCheck" android:exported="true">
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_PERMISSION" />
      </intent-filter>
    </receiver>
    <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" android:resource="@xml/device_filter" />
  </application>
</manifest>
